<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${question.title}">Question Page</title>
</head>
<body>
<h1 th:text="${question.title}"></h1>
<p th:text="${question.content}"></p>

<h2>Answers</h2>
<ul>
    <li th:each="answer : ${answers}">
        <div>
            <p th:text="${answer.content}"></p>
            <p>Posted by: <span th:text="${answer.user.name}"></span></p>
<!--            <p>Created at: <span th:text="${#dates.format(answer.createdAt, 'yyyy-MM-dd HH:mm')}"></span></p>-->
            <p>Votes: <span th:text="${answer.votes}"></span></p>
        </div>
        <hr/>
    </li>
</ul>

<h3>Post Your Answer</h3>
<form th:action="@{/answers/save-answers}" th:object="${answer}" method="post">
    <input type="hidden" th:name="questionId" th:value="${question.id}" />
    <textarea th:field="*{content}" placeholder="Write your answer here"></textarea>
    <br>
    <input type="submit" value="Post Answer" />
</form>

<a href="/questions/home">Back to Questions</a>
</body>
</html>
